@{
    ViewBag.Title = "Home Page";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/DogStyle.css">
    <title>Sanchez's Pet Store</title>
</head>


<div class="row">
    <div class="col-md-12">
        <h2>Sanchez's Pet Store</h2>

        @*<a class="btn btn-default" href="~/Animal">Pet Store Index &raquo;</a>*@
    </div>

</div>

<div class="jumbotron">
    <!--  Carousel - consult the Twitter Bootstrap docs at
    http://twitter.github.com/bootstrap/javascript.html#carousel -->
    <h2>Large Dogs</h2>
    <div id="Carousel0" class="carousel slide">
        <!-- class of slide for animation -->
            <div class="carousel-inner">
            <div class="item active">
                <!-- class of active since it's the first item -->
                <img src="~/Content/Images/Boxer.jpg" alt="Boxer" />
                <div class="carousel-caption">
                    <h2>"Susie"</h2>
                    <p>Boxer</p>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Images/GreatDane.jpg" alt="Great Dane" />
                <div class="carousel-caption">
                    <h2>"Roger"</h2>
                    <p>Great Dane</p>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Images/IrishWolfHound.jpg" alt="Irish Wolf Hound" />
                <div class="carousel-caption">
                    <h2>"Tiny"</h2>
                    <p>Irish Wolf Hound</p>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Images/Dalmatian.jpg" alt="Dalmatian" />
                <div class="carousel-caption">
                    <h2>"Achilles"</h2>
                    <p>Dalmatian</p>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Images/GermanShepherd.jpg" alt="German Shepherd" />
                <div class="carousel-caption">
                    <h2>"Max"</h2>
                    <p>German Shepherd</p>
                </div>
            </div>
        </div><!-- /.carousel-inner -->
        <!--  Next and Previous controls below
              href values must reference the id for this carousel -->
        <a class="carousel-control left" href="#Carousel0" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#Carousel0" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
</div>

<div class="jumbotron">
    <!--  Carousel - consult the Twitter Bootstrap docs at
    http://twitter.github.com/bootstrap/javascript.html#carousel -->
    <h2>Small Dogs</h2>
    <div id="Carousel1" class="carousel slide">
        <!-- class of slide for animation -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- class of active since it's the first item -->
                <img src="~/Content/Images/Chihuahua.jpg" alt="Chihuahua" />
                <div class="carousel-caption">
                    <h2>"Pepper"</h2>
                    <p>Chihuahua</p>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Images/Dachshund.jpg" alt="Dachshund" />
                <div class="carousel-caption">
                    <h2>"Penelope"</h2>
                    <p>Dachshund</p>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Images/Maltese.jpg" alt="Maltese" />
                <div class="carousel-caption">
                    <h2>"Darwin"</h2>
                    <p>Maltese</p>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Images/Yorkie.jpg" alt="Yorkie" />
                <div class="carousel-caption">
                    <h2>"Killer"</h2>
                    <p>Yorkie</p>
                </div>
            </div>
            <div class="item">
                <img src="~/Content/Images/Bulldog.jpg" alt="Bulldog" />
                <div class="carousel-caption">
                    <h2>"Skyler"</h2>
                    <p>Bulldog</p>
                </div>
            </div>
        </div><!-- /.carousel-inner -->
        <!--  Next and Previous controls below
              href values must reference the id for this carousel -->
        <a class="carousel-control left" href="#Carousel1" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#Carousel1" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
</div>



